.html-reset{
	*{
		margin: 20px 0;
	}
	ul, ol{
		padding-left: 2em;
	}
	ul li{
		list-style-type: initial;
	}	
	ol li{
		list-style-type: decimal;
	}
	h1, h2, h3, h4{
		font-weight: bold;
	}
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 25px;
	}
	h3{
		font-size: 23px;
	}
}